@*@model SearchResultViewModel[]

  <ul>
    @foreach (var item in Model)
    {
      <li>
        @item.Show.Name
        <form asp-controller="TvShow" asp-action="FollowShow" asp-route-tvShowId="@item.Show.Id">
          <input type="submit" class="btn-success" value="Follow" />
          <input type="submit" asp-action="UnFollowShow" class="btn-warning" value="Unfollow" />
        </form>
      </li>
    }
  </ul>*@

@model SearchResultViewModel[]

<ul>
  @foreach (var item in Model)
  {
    <li>
      @item.Show.Name
      <form asp-controller="TvShow" asp-action="FollowShow" asp-route-tvShowId="@item.Show.Id">
        <input type="submit" class="btn-success" value="Follow" />
      </form>

      <form asp-controller="TvShow" asp-action="UnfollowShow" asp-route-tvShowId="@item.Show.Id">
        <input type="submit" class="btn-warning" value="Unfollow" />
      </form>
    </li>
  }
</ul>
